In [15]:
import pandas as pd

In [ ]:
titanic = pd.read_excel('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls')

In [ ]:
titanic['first_name'] = titanic['name'].str.split(', ').str.get(1).str.split('.').str.get(1).str.split("Jr").str.get(0).str.split ()

In [ ]:
titanic['first_names_count'] = titanic['first_name'].str.len ()
titanic [titanic['first_names_count'] == 1].head (5)

In [ ]:
len (titanic [titanic['first_names_count'] == 1])

In [ ]:
#2.část

In [ ]:
titanic['boat'] = titanic['boat'].str.split (" ").str.get(0)
#Parkrát je tam 15 16, tak vždy beru 1. číslo člunu

In [ ]:
titanic_boat = titanic.groupby(["boat"]).sum ()
titanic_boat.head (5)

In [ ]:
titanic_boat["survived"].argmax ()

In [ ]:
#Nebo alternativně takto, bez užití "survived"

In [ ]:
titanic['number'] = 1
titanic_boat2 = titanic.groupby(["boat"]).sum ()
titanic_boat2["survived"].argmax ()